<template>
  <div
    class="p-2 cate-color ml-2 cate-size rounded"
    style="display: inline-block; vertical-align: top; height: 100% !important"
  >
    <div>
      <h5 style="display: inline-block">
        {{ data.categoryName }}
      </h5>
      <b-dropdown
        size="sm"
        id="dropdown-offset"
        offset="25"
        variant="link drop"
        style="float: right"
      >
        <b-dropdown-item @click="removeCat(data.id)">Delete</b-dropdown-item>
      </b-dropdown>
    </div>

    <Card v-for="item in data.todos" :key="item.id" :text="item" />
    <div class="text-center">
      <b-input
        class="p-1 m-1"
        v-model="test"
        v-show="show === $store.state.add"
      />
      <b-button
        v-show="show !== $store.state.add"
        class="w-90 bg-none m1 text-secondary"
        variant="light"
        @click="remove"
        >Add a Card</b-button
      >
    </div>
    <div class="text-right mx-1">
      <b-button
        v-show="show === $store.state.add"
        variant="primary"
        @click="add"
        >Add Card</b-button
      >
      <b-button
        v-show="show === $store.state.add"
        variant="danger"
        @click="(show = data), (test = ''), $store.commit('addActive', '')"
        >x</b-button
      >
    </div>
  </div>
</template>

<script>
import Card from "../components/Card.vue";
import axios from "axios";
export default {
  name: "Category",
  data() {
    return {
      items: ["test1", "test1", "test", "test4", "test3", "test2"],
      show: this.data,
      test: "",
    };
  },
  methods: {
    removeCat(id) {
      console.log(id);
      axios
        .delete(`http://127.0.0.1:8000/api/cate/${id}`, {
          headers: {
            Authorization: `Bearer ${this.$store.state.token}`,
            "content-type": "application/json",
          },
        })
        .then(() => {
          this.$store.commit("removeCate", id);
        });
    },
    remove() {
      this.$store.commit("addActive", this.data);
    },
    add() {
      if (this.test) {
        this.show = this.data;
        axios
          .post(
            "http://127.0.0.1:8000/api/todo",
            {
              name: this.test,
              category_id: this.data.id,
            },
            {
              headers: {
                Authorization: `Bearer ${this.$store.state.token}`,
                "content-type": "application/json",
              },
            }
          )
          .then(({ data }) => {
            this.$store.commit("addcard", { data });
            this.$store.commit("addActive", "");
            this.test = "";
          });
        // console.log(this.test);
      }
    },
  },
  components: { Card },
  props: ["data"],
};
</script>

<style scoped>
.cate-color {
  background-color: hsla(206, 24.7%, 81.8%, 0.9);
}

.ml-2 {
  margin-left: 1rem;
}

.cate-size {
  width: 270px;
  height: auto;
}

.bg-none {
  background: none;
  border: none;
}

.bg-none :hover {
  background-color: rgb(240, 239, 239) !important;
}

.w-90 {
  width: 90%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
</style>
