<template>
  <div class="row p-1 my-2">
    <div class="col-md-10 col-10">
      <p v-if="!select" @click="select = !select">{{ data.desc }}</p>
      <div v-else>
        <b-input v-model="data.desc" />
      </div>
    </div>
    <div class="col-md-2 col-2">
      <b-form-checkbox
        v-if="!select"
        v-on:change="update(data.id)"
        id="checkbox-1"
        v-model="status"
        name="checkbox-1"
        value="true"
        unchecked-value="false"
      >
      </b-form-checkbox>
      <div v-else>
        <b-button @click="save(data.id)">save</b-button>
        <b-button @click="select = !select">x</b-button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  props: ["data"],
  data() {
    return {
      status: this.data.status == 1 ? "true" : "false",
      select: false,
      doc: "",
    };
  },
  methods: {
    save(id) {
      this.select = false;
      axios
        .put(
          `http://127.0.0.1:8000/api/check/${id}`,
          { desc: this.data.desc },
          { headers: { Authorization: `Bearer ${this.$store.state.token}` } }
        )
        .then(({ data }) => {
          console.log(data);
        });
    },
    update(id) {
      axios
        .put(
          `http://127.0.0.1:8000/api/check/${id}`,
          { status: this.status },
          { headers: { Authorization: `Bearer ${this.$store.state.token}` } }
        )
        .then(({ data }) => {
          console.log(data);
        });
    },
  },
};
</script>

<style scoped></style>
