<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <h4
        style="
          display: block;
          margin-right: auto;
          margin-left: auto;
          font-weight: bloder;
        "
        class="text-white"
      >
        Todo
      </h4>
    </b-navbar>
  </div>
</template>

<script>
export default {
  name: "Header",
};
</script>
