<template>
  <div class="Profile">
       <div class="container">
          <img class="profile-1" src="../assets/2.png" alt=""> 
        <h3 class="title">Choose an profile photo</h3>
       </div>
       <div class="buttom">
              <form class="input-1">
                <input  v-model="message" placeholder="Full name" /><br><br>
                <input  v-model="message" placeholder="Sex" /><br><br>
                <input  v-model="message" placeholder="Email Address" /><br><br>
                <input class ="submit" type="submit" value="Save"> 
            </form> 
        </div>
  </div>
</template>
<style scoped>
    .Profile{
        background: rgb(238, 235, 235);
        height: 70vh;
        width: 100vh;
        padding: 70px; 
        margin-left: 25%; 
        border-radius: 15%;
        margin-top: 30px;
    }
    .title{
        padding: 1px;
        margin-top: -120px;
        color: rgb(7, 110, 76);
    }
    .profile-1{
        height: 95px;
        width: 90px;
        margin-left:100px;
        margin-top: -35px;
    }
    .input-1{
        padding:10%;
        margin: 5px;
        margin-left: 7px;
        height: 30px;
        margin: 0px;
        /* border-radius: 25%; */
    }
    .buttom{
        color: rgb(240, 243, 245);
        text-align: center;
        margin-top: 25px;  
    }
    .submit{
        background: #044750;
        width: 40%;
        font-size: 15px;
        border-radius: 30px; 
        margin-top: -95%;
        margin-right: 10px;
        /* border:none; */
    }
    input{
        padding: 1px;
        font-size: 15px;
        color: rgb(246, 248, 250);
        margin: -10px;
    }
</style>


