<template>
  <body>
    <section class="form">
      <div class="row">
        <div class="box">
          <h2 class="title">YoYa</h2>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group id="input-2" label-for="input-1">
              <!-- Email Input -->
              <b-form-input
                class="my-2"
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group>
              <!-- Password Input -->
              <b-form-input
                id="input-1"
                :class="`type-password my-2`"
                type="password"
                v-model="form.password"
                placeholder="Enter Password"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-1">
              <b-form-checkbox-group
                v-model="form.checked"
                id="checkboxes-4"
                :aria-describedby="ariaDescribedby"
              >
                <b-form-checkbox value="me" class="my-2"
                  >Remember me</b-form-checkbox
                >
              </b-form-checkbox-group>
            </b-form-group>

            <b-button type="submit" class="submit" variant="primary"
              >Sign In</b-button
            >
            <div class="link">
              Don't have account?
              <router-link to="/register">Register Now!</router-link>
            </div>
            <div class="size">
              <a
                href="https://www.codingate.com/"
                style="text-decoration: none"
              >
                <img src="../assets/gg.png" style="width: 40px" alt="" />
              </a>

              <a
                href="https://www.facebook.com/codingate/"
                style="text-decoration: none"
              >
                <img src="../assets/fb.png" style="width: 40px" alt="" />
              </a>

              <a
                href="https://kh.linkedin.com/company/codingate"
                style="text-decoration: none"
              >
                <img src="../assets/linkin.png" style="width: 40px" alt="" />
              </a>
            </div>
          </b-form>
        </div>
      </div>
    </section>
  </body>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
        checked: [],
      },

      types: ["password"],
      show: true,
    };
  },
  methods: {
    async login() {
      console.log("email", this.form.email, this.form.password);
      axios
        .post(
          "http://127.0.0.1:8000/api/login",
          {
            email: this.form.email,
            password: this.form.password,
          },
          {
            headers: {
              "content-type": "application/json",
            },
          }
        )
        .then(({ data }) => {
          localStorage.setItem("token", data.token);
          this.$store.commit("addToken", data.token);
          this.$router.push("/");
        })
        .catch(({ response }) => {
          console.log(response.data.errors);
        });
    },
    onSubmit(event) {
      event.preventDefault();
      this.login();
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
<style scoped>
section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
.controll {
  /* padding: 20px; */
}
.size {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
a {
  margin-right: 15px;
}
.box {
  padding: 50px;
  /* background: rgba(132, 241, 227, 0.397); */
  border-radius: 5px;
  box-shadow: 0px 0px 4px 3px rgb(173, 172, 172);
}
.title {
  background: blue;
  color: white;
  font-weight: bold;
  font-family: serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  width: 100%;
  margin-bottom: 10px;
}
.reset {
  padding: 5px;
  font-size: 12px;
  margin-left: 15%;
}
.link {
  font-size: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
}
</style>
