<template>
  <body>
    <section class="form">
      <div class="row">
        <div class="box">
          <h2 class="title">YoYa</h2>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <b-form-group id="input-2" label-for="input-1">
              <!-- Email Input -->
              <b-form-input
                class="mb-2"
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group>
              <b-form-input
                class="mb-2"
                id="input-1"
                v-model="form.name"
                type="text"
                placeholder="Enter Name"
                required
              ></b-form-input>
            </b-form-group>
            <div>
              <b-form-group class="pw">
                <!-- Password Input -->
                <b-form-input
                  class="mb-2"
                  :class="`type-${type}`"
                  :type="type"
                  v-for="type in types"
                  :key="type"
                  v-model="form.Password"
                  placeholder="Enter Password"
                  required
                ></b-form-input>
              </b-form-group>
              <b-form-group>
                <b-form-input
                  class="mb-2"
                  :class="`type-${type}`"
                  :type="type"
                  v-for="type in types"
                  :key="type"
                  v-model="form.ConfirmPassword"
                  placeholder="Confirm Password"
                  required
                ></b-form-input>
              </b-form-group>
              <p style="color: red">{{ form.message }}</p>
            </div>
            <b-form-group> </b-form-group>

            <b-button
              type="submit"
              class="submit"
              variant="primary"
              @click="isLogin"
              >Register</b-button
            >
            <div class="link">
              Aleady have Account?
              <router-link to="/login">Back to Sign In!</router-link>
            </div>
            <div class="size">
              <a
                href="https://www.codingate.com/"
                style="text-decoration: none"
              >
                <img src="../assets/gg.png" style="width: 40px" alt="" />
              </a>

              <a
                href="https://www.facebook.com/codingate/"
                style="text-decoration: none"
              >
                <img src="../assets/fb.png" style="width: 40px" alt="" />
              </a>

              <a
                href="https://kh.linkedin.com/company/codingate"
                style="text-decoration: none"
              >
                <img src="../assets/linkin.png" style="width: 40px" alt="" />
              </a>
            </div>
          </b-form>
        </div>
      </div>
    </section>
  </body>
</template>

<script>

export default {
  data() {
    return {
      form: {
        Password: "",
        ConfirmPassword: "",
        message: "",
        // validatePassword :"",
        email: "",
        name: "",
        checked: [],
        checkMe: "",
      },

      types: ["password"],
      show: true,
    };
  },

  methods: {
    isLogin() {
      if (
        this.form.Password === this.form.ConfirmPassword &&
        this.form.email &&
        this.form.name != ""
      ) {
        // console.log("success")
        this.form.message = "";
        console.log("Hello");
      } else {
        // console.log("NOthing")
        this.form.message = "Input blank or password is invalid!!";
      }
      // else if(this.form.email && this.form.Password && this.form.ConfirmPassword === ""){
      //     alert("Cannot be blank !!!")
      // }
    },
    onSubmit(event) {
      event.preventDefault();
      console.log("hello");
    },
    async register() {
      console.log({
        phone: this.phone,
        name: this.name,
        email: this.email,
        password: this.password,
      });
      const token = await this.$store.dispatch("register", {
        phone: this.phone,
        name: this.name,
        email: this.email,
        password: this.password,
      });
      console.log(token);
      this.$store.commit("addToken", token);
      if (token) {
        this.$router.push("/");
      }
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      // this.form.email = "";
      // this.form.ConfirmPassword = "";
      // this.form.Password="",
      // this.form.name = "";
      // this.form.food = null;
      // this.form.checked = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
  },
};
</script>
<style scoped>
section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}
b-form-input {
  padding: 50px;
}
.pw {
  width: 300px;
}
.size {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
a {
  margin-right: 15px;
}
.box {
  padding: 40px;
  /* background: rgba(132, 241, 227, 0.397); */
  border-radius: 5px;
  box-shadow: 0px 0px 4px 3px rgb(173, 172, 172);
}
.title {
  background: blue;
  color: white;
  font-weight: bold;
  font-family: serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.submit {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.link {
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding-right: 40px;
  padding-left: 40px;
}
</style>
