<template>
  <!-- <div class="row"> -->

  <div class="container">
    <CheckList v-for="item in doc.check_list" :key="item.id" :data="item" />
    <b-input v-model="desc"></b-input>
    <b-button @click="add(), (show = true)" class="mt-2">Add</b-button>
  </div>
  <!-- </div> -->
</template>

<script>
import axios from "axios";
import CheckList from "../components/CheckList.vue";
export default {
  name: "Task",
  components: { CheckList },

  methods: {
    add() {
      axios
        .post(
          `http://localhost:8000/api/check`,
          {
            desc: this.desc,
            todo_id: this.$route.params.id,
            status: 0,
          },
          {
            headers: { Authorization: `Bearer ${this.$store.state.token}` },
          }
        )
        .then(({ data }) => {
          this.doc.check_list.push(data);
          this.desc = "";
        });
    },
  },
  data() {
    return {
      doc: {},
      desc: "",
    };
  },
  mounted() {
    const id = this.$route.params.id;
    axios
      .get(`http://localhost:8000/api/todo/${id}`, {
        headers: {
          authorization: `Bearer ${this.$store.state.token}`,
        },
      })
      .then(({ data }) => {
        this.doc = data[0];
      });
  },
};
</script>

<style scoped>
.box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
</style>
